<!-- base pokecard container col-8 col-sm-5 col-lg-3 col-xl-2 col-xxl-3-->

<div class="card mx-2 my-3 p-1 rounded-3 bg-light-subtle d-flex justify-content-center align-items-center text-dark
flex-shrink-0 fw-bold{{#if homepage}} px-5 {{/if}}">
    <!-- base id + name container -->
    <div class="container d-flex py-2 rounded-top-3 bg-danger-subtle justify-content-start mx-0 " >
        <!-- outer id container -->
        <div class="d-flex justify-content-start align-items-center rounded-5 bg-dark-subtle  mx-0">
            <!-- inner id container -->
            <div class="container">
                {{pokeid}}
            </div>
        </div>
        <!-- inner name container -->
        <div class="container">
            {{pokename}}
        </div>
    </div>
    <!-- sprite image container -->
    <div class="{{#if teambuilder}}px-5 py-2{{else}}px-5 mx-5{{/if}}">
        <img src="{{pokesprite}}" alt="{{pokename}}" width="200px" height="200px" class="m-5"/>
    </div>
    <!-- type1 + type2 container -->
    <div class="container-fluid d-flex justify-content-center align-items-center m-3 mt-0 mx-5">
        <!-- inner type2 container -->
        {{#if multitype}}
            <div class="container bg-body-tertiary border border-danger-subtle border-2 col-6 rounded-start">
                <div class="text-center col-12">{{poketype1}}</div>
            </div>
            <!-- inner type2 container -->
            <div class="container bg-body-tertiary border border-danger-subtle border-2 col-6 rounded-end">
                <div class="text-center col-12">{{poketype2}}</div>
            </div>
        {{else}}
            <div class="container bg-body-tertiary border border-danger-subtle border-2 col-7 mx-5 rounded">
                <div class="text-center col-12">{{poketype1}}</div>
            </div>
        {{/if}}
    </div>
</div>
