<!-- base pokecard container -->
<!--col-8 col-sm-5 col-lg-3 col-xl-2 col-xxl-2-->
<div class="card

p-1
mx-2 my-3
rounded-3
bg-light-subtle
d-flex justify-content-center align-items-center
text-dark">
    <!-- base id + name container -->
    <div class="container d-flex py-2 rounded-top-3 bg-danger-subtle justify-content-start mx-0 " >
        <!-- outer id container -->
        <div class="d-flex justify-content-start align-items-center rounded-5 bg-dark-subtle  mx-0">
            <!-- inner id container -->
            <div class="container">
                {{pokeid}}
            </div>
        </div>
        <!-- inner name container -->
        <div class="container">
            {{pokename}}
        </div>
    </div>
    <!-- sprite image container -->
    <div class="px-4 py-2">
        <img src="{{pokesprite}}" alt="{{pokename}}" width="150px" height="150px"/>
    </div>
    <!-- type1 + type2 container -->
    <div class="d-flex justify-content-around align-items-center m-3 mt-0 mx-5">
        <!-- inner type2 container -->

        {{#if multitype}}
            <div class="container bg-primary-subtle">
                <div class="text-center p-1 col-6">{{poketype1}}</div>
            </div>
            <!-- inner type2 container -->
            <div class="container bg-success-subtle col-6">
                <div class="text-center p-1">{{poketype2}}</div>
            </div>
        {{else}}
            <div class="container bg-primary-subtle">
                <div class="text-center p-1 col-12">{{poketype1}}</div>
            </div>
        {{/if}}

    </div>
</div>
