<div class="container d-flex flex-column flex-lg-row justify-content-around align-items-center">
    <div class="container-fluid mt-3 container-xxl bg-danger text-center rounded-4 py-2 col-lg-8 mx-2">
        <h2 class="p-0 m-0 pb-3 pt-2 text-light">Build Your Own Pokemon</h2>
        <!-- inner base container -->
        <div class="container-fluid d-flex flex-column justify-content-around align-content-center bg-light
    rounded-3 mb-0">

            <form action="/pokebuilder/preview" method="post" enctype="multipart/form-data">
                <div class="container d-flex flex-column justify-content-center align-items-center">
                    <div class="container d-flex flex-column align-items-center py-3 mt-5 mb-3 bg-body-secondary border border-danger border-2 rounded-2">
                        <div class="container d-flex flex-row justify-content-between align-items-center">
                            <h4>PokeName</h4>
                        </div>
                        <div class="container d-flex align-items-center pt-3 pb-2">
                            <label for="name" class="col-3 text-start">Name:</label>
                            <div class="col-9">
                                <input class="form-control pe-0  {{#if err.name}}is-invalid{{/if}}" type="text"
                                       id="name" name="name"
                                       placeholder="Enter a name" value="{{sbmtName}}" required>
                                <div class="invalid-feedback">{{err.name}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid d-flex flex-column py-3 bg-body-secondary border border-danger border-2 rounded-2">
                        <div class="container d-flex flex-row justify-content-between align-items-center">
                            <h4>PokeTypes</h4>
                        </div>
                        <div class="container-fluid d-flex flex-column pt-3 pb-2 ps-0">
                            <div class="container-fluid d-flex flex-row align-items-center mb-2">
                                <label for="type1" class="col-3 text-start">Type 1:</label>
                                <div class="col-9">
                                    <select class="form-select {{#if err.type1}}is-invalid{{/if}}" id="type1"
                                            name="type1" required>
                                        <option value="" selected></option>
                                        <option value="Normal" {{#if (equals sbmtType1 "Normal")}}selected{{/if}}>Normal
                                        </option>
                                        <option value="Fire" {{#if (equals sbmtType1 "Fire")}}selected{{/if}}>Fire
                                        </option>
                                        <option value="Water" {{#if (equals sbmtType1 "Water")}}selected{{/if}}>Water
                                        </option>
                                        <option value="Grass" {{#if (equals sbmtType1 "Grass")}}selected{{/if}}>Grass
                                        </option>
                                        <option value="Electric" {{#if (equals sbmtType1 "Electric")}}selected{{/if}}>
                                            Electric
                                        </option>
                                        <option value="Ice" {{#if (equals sbmtType1 "Ice")}}selected{{/if}}>Ice</option>
                                        <option value="Fighting" {{#if (equals sbmtType1 "Fighting")}}selected{{/if}}>
                                            Fighting
                                        </option>
                                        <option value="Poison" {{#if (equals sbmtType1 "Poison")}}selected{{/if}}>Poison
                                        </option>
                                        <option value="Ground" {{#if (equals sbmtType1 "Ground")}}selected{{/if}}>Ground
                                        </option>
                                        <option value="Flying" {{#if (equals sbmtType1 "Flying")}}selected{{/if}}>Flying
                                        </option>
                                        <option value="Psychic" {{#if (equals sbmtType1 "Psychic")}}selected{{/if}}>
                                            Psychic
                                        </option>
                                        <option value="Bug" {{#if (equals sbmtType1 "Bug")}}selected{{/if}}>Bug</option>
                                        <option value="Rock" {{#if (equals sbmtType1 "Rock")}}selected{{/if}}>Rock
                                        </option>
                                        <option value="Ghost" {{#if (equals sbmtType1 "Ghost")}}selected{{/if}}>Ghost
                                        </option>
                                        <option value="Dragon" {{#if (equals sbmtType1 "Dragon")}}selected{{/if}}>Dragon
                                        </option>
                                        <option value="Dark" {{#if (equals sbmtType1 "Dark")}}selected{{/if}}>Dark
                                        </option>
                                        <option value="Steel" {{#if (equals sbmtType1 "Steel")}}selected{{/if}}>Steel
                                        </option>
                                        <option value="Fairy" {{#if (equals sbmtType1 "Fairy")}}selected{{/if}}>Fairy
                                        </option>
                                    </select>
                                    <div class="invalid-feedback">{{err.type1}}</div>
                                </div>
                            </div>
                            <div class="container-fluid d-flex">
                                <label for="type2" class="col-3 text-start">Type 2:</label>
                                <div class="col-9">
                                    <select class="form-select" id="type2" name="type2">
                                        <option value="" {{#unless sbmtType2}}selected{{/unless}}></option>
                                        <option value="Normal" {{#if (equals sbmtType2 "Normal")}}selected{{/if}}>Normal
                                        </option>
                                        <option value="Fire" {{#if (equals sbmtType2 "Fire")}}selected{{/if}}>Fire
                                        </option>
                                        <option value="Water" {{#if (equals sbmtType2 "Water")}}selected{{/if}}>Water
                                        </option>
                                        <option value="Grass" {{#if (equals sbmtType2 "Grass")}}selected{{/if}}>Grass
                                        </option>
                                        <option value="Electric" {{#if (equals sbmtType2 "Electric")}}selected{{/if}}>
                                            Electric
                                        </option>
                                        <option value="Ice" {{#if (equals sbmtType2 "Ice")}}selected{{/if}}>Ice</option>
                                        <option value="Fighting" {{#if (equals sbmtType2 "Fighting")}}selected{{/if}}>
                                            Fighting
                                        </option>
                                        <option value="Poison" {{#if (equals sbmtType2 "Poison")}}selected{{/if}}>Poison
                                        </option>
                                        <option value="Ground" {{#if (equals sbmtType2 "Ground")}}selected{{/if}}>Ground
                                        </option>
                                        <option value="Flying" {{#if (equals sbmtType2 "Flying")}}selected{{/if}}>Flying
                                        </option>
                                        <option value="Psychic" {{#if (equals sbmtType2 "Psychic")}}selected{{/if}}>
                                            Psychic
                                        </option>
                                        <option value="Bug" {{#if (equals sbmtType2 "Bug")}}selected{{/if}}>Bug</option>
                                        <option value="Rock" {{#if (equals sbmtType2 "Rock")}}selected{{/if}}>Rock
                                        </option>
                                        <option value="Ghost" {{#if (equals sbmtType2 "Ghost")}}selected{{/if}}>Ghost
                                        </option>
                                        <option value="Dragon" {{#if (equals sbmtType2 "Dragon")}}selected{{/if}}>Dragon
                                        </option>
                                        <option value="Dark" {{#if (equals sbmtType2 "Dark")}}selected{{/if}}>Dark
                                        </option>
                                        <option value="Steel" {{#if (equals sbmtType2 "Steel")}}selected{{/if}}>Steel
                                        </option>
                                        <option value="Fairy" {{#if (equals sbmtType2 "Fairy")}}selected{{/if}}>Fairy
                                        </option>
                                    </select>
                                    <!--                                    <div class="invalid-feedback">{{err.ty}}</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Stats Input Container -->
                    <div class="container d-flex flex-column justify-content-between align-items-center py-4 pb-4 mt-3 bg-body-secondary border border-danger border-2 rounded-2">
                        <div class="container d-flex flex-row justify-content-between align-items-center">
                            <h4>PokeStats</h4>
                        </div>
                        <div class="container d-flex flex-row justify-content-between align-items-center pt-3">
                            <!-- HP Input -->
                            <div class="d-flex flex-column align-items-center">
                                <label for="hp" class="mb-1 text-center">HP</label>
                                <input class="form-control {{#if err.hp}}is-invalid{{/if}}" id="hp" name="hp" min="1"
                                       max="999" value="{{sbmtHP}}" required>
                                <div class="invalid-feedback">{{err.hp}}</div>
                            </div>
                            <!-- Attack Input -->
                            <div class="d-flex flex-column align-items-center">
                                <label for="atk" class="mb-1 text-center">ATK</label>
                                <input class="form-control {{#if err.atk}}is-invalid{{/if}}" id="atk" name="atk" min="1"
                                       max="999" value="{{sbmtATK}}" required>
                                <div class="invalid-feedback">{{err.atk}}</div>
                            </div>
                            <!-- Defense Input -->
                            <div class="d-flex flex-column align-items-center">
                                <label for="def" class="mb-1 text-center">DEF</label>
                                <input class="form-control {{#if err.def}}is-invalid{{/if}}" id="def" name="def" min="1"
                                       max="999" value="{{sbmtDEF}}"
                                       required>
                                <div class="invalid-feedback">{{err.def}}</div>
                            </div>
                            <!-- Special Attack Input -->
                            <div class="d-flex flex-column align-items-center">
                                <label for="spatk" class="mb-1 text-center">SP.ATK</label>
                                <input class="form-control {{#if err.spatk}}is-invalid{{/if}}" id="spatk" name="spatk"
                                       min="1" max="999" value="{{sbmtSPATK}}" required>
                                <div class="invalid-feedback">{{err.spatk}}</div>
                            </div>
                            <!-- Special Defense Input -->
                            <div class="d-flex flex-column align-items-center">
                                <label for="spdef" class="mb-1 text-center">SP.DEF</label>
                                <input class="form-control {{#if err.spdef}}is-invalid{{/if}}" id="spdef" name="spdef"
                                       min="1" max="999" value="{{sbmtSPDEF}}" required>
                                <div class="invalid-feedback">{{err.spdef}}</div>
                            </div>
                            <!-- Speed Input -->
                            <div class="d-flex flex-column align-items-center">
                                <label for="spd" class="mb-1 text-center">SPD</label>
                                <input class="form-control {{#if err.spd}}is-invalid{{/if}}" id="spd" name="spd" min="1"
                                       max="999" value="{{sbmtSPD}}" required>
                                <div class="invalid-feedback">{{err.spd}}</div>
                            </div>
                        </div>
                    </div>
                    <!-- Photo Upload -->
                    <div class="container-fluid d-flex flex-column py-3 mt-3 bg-body-secondary border border-danger border-2 rounded-2">
                        <div class="container d-flex flex-row justify-content-between align-items-center">
                            <h4>Upload PokePhoto</h4>
                        </div>
                        <div class="container d-flex align-items-center pt-3 pb-2">
                            <div class="col-12">
                                <input type="file" id="photo" class="form-control {{#if err.photo}}is-invalid{{/if}}"
                                       name="photo" required value="{{sbmtPhoto.info}}"/>
                                <div class="invalid-feedback">{{err.photo}}</div>
                            </div>
                        </div>
                    </div>
                    <!-- Description Textarea -->
                    <div class="container-fluid d-flex flex-column py-3 mt-3 bg-body-secondary border border-danger border-2 rounded-2">
                        <div class="container d-flex flex-row justify-content-between align-items-center">
                            <h4>PokeDescription</h4>
                        </div>
                        <div class="container d-flex align-items-center pt-3 pb-2">
                            <div class="col-12">
                                <label for="desc"></label>
                                <textarea class="form-control col-12 text-dark {{#if err.desc}}is-invalid{{/if}}"
                                          placeholder="Enter Pokemon description" id="desc" name="desc"
                                          rows="3"></textarea>

                                <div class="invalid-feedback">{{err.desc}}</div>
                            </div>
                        </div>
                    </div>
                    <!-- Submit Button -->
                    <div class="container-fluid py-3 d-flex justify-content-center">
                        <button class="btn btn-success mx-3" type="submit">Create</button>
                    </div>
                </div>
            </form>


        </div>
    </div>
    {{#if submitted}}

        <div class="container-fluid mt-3 container-xxl bg-danger text-center rounded-4 py-2 mx-2">
            <h2 class="p-0 m-0 pb-3 pt-2 text-light">PokePreview</h2>
            <!-- inner base container -->
            <div class="container-fluid d-flex flex-column justify-content-around align-content-center mb-1 bg-body-secondary
    rounded-3 mb-0">
                <div class="card my-3">
                    <div class="col-12">
                        {{#each sbmtPhoto}}
                            <img src="{{imgsrc}}" alt="{{sbmtPhoto.info}}" class="col-11 rounded mt-4">
                        {{/each}}
                    </div>

                    <h3 class="py-2 pt-3">{{sbmtName}}</h3>

                    <div class="container-fluid d-flex justify-content-center align-items-center">
                        <!-- inner type2 container -->
                        {{#if multitype}}
                            <div class="container bg-body-tertiary border border-danger-subtle border-2 col-6 rounded-start d-flex justify-content-center align-items-center">
                                <h5 class="text-center col-12 pt-2">{{sbmtType1}}</h5>
                            </div>
                            <!-- inner type2 container -->
                            <div class="container bg-body-tertiary border border-danger-subtle border-2 col-6 rounded-end">
                                <h5 class="text-center col-12 pt-2">{{sbmtType2}}</h5>
                            </div>
                        {{else}}
                            <div class="container bg-body-tertiary border border-danger-subtle border-2 col-7 mx-5 rounded">
                                <h5 class="text-center col-12 pt-2">{{sbmtType1}}</h5>
                            </div>
                        {{/if}}
                    </div>
                    <div class="container d-flex justify-content-around align-items-end my-3">
                        <div class="col-2">
                            <p><strong>HP:</strong><br>{{sbmtHP}}</p>
                        </div>
                        <div class="col-2">
                            <p><strong>ATK:</strong><br>{{sbmtATK}}</p>
                        </div>
                        <div class="col-2">
                            <p><strong>DEF:</strong><br>{{sbmtDEF}}</p>
                        </div>
                        <div class="col-2">
                            <p><strong>SP. ATK:</strong><br>{{sbmtSPATK}}</p>
                        </div>
                        <div class="col-2">
                            <p><strong>SP. DEF:</strong><br>{{sbmtSPDEF}}</p>
                        </div>
                        <div class="col-2">
                            <p><strong>SPD:</strong><br>{{sbmtSPD}}</p>
                        </div>
                    </div>
                    <div class="container d-flex flex-column justify-content-around align-items-center mt-0 mb-4">
                        <p class="m-0"><strong>Description:</strong></p>
                        {{#each sbmtDesc}}{{pokedesc}}{{/each}}
                    </div>
                </div>
            </div>
        </div>

    {{/if}}
</div>

